   body {
        font-family: georgia, serif; 
        
    }
   hr {
        color: #ff9900; 
        height: 1px; 
    }
   a:hover {
        color: #ff0000; 
        text-decoration: none;
    }
    
    table {    
    padding: 5px;
     border: 0px;
     width: 100%;
    }
    
    .fiddy {
    width: 50%
    }
    
    td {    
    padding: 5px;
    }
    
    th {    
    background-color: #222222;
    color: #787878;
    padding: 5px;
    }
    
    tr:nth-child(even){background-color: #DDDDDD;}

    .cent {
    text-align: center;    
    }

    
    .centx {
    text-align: center;
    border: 0px;
    }
    
    